bin
obj
.vs
.idea
ref
.code
/src/Tools/Rnn/lfg
src/Tools/Rnn/data/classes/sources/names/name_dataset.zip
src/Morpheus/Morpheus.Parser/names_output.json
/src/Tools/Rnn/data/classes/sources/names
src/Tools/Rnn/data/classes/sources/companies/res/res_data.csv
